* {
  box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Inter;

}
/* .icon-image {
  position: absolute;
  width: 7px;
  height: 9.55px;
  left: 184px;
  top: 120px;

  background: #FFFFFF;} */

.nav {
  background: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  padding: 10px 20px;
}

.nav-log{
  background: #fff;
  border: #fff;
}

.card {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 20px;
  margin-bottom: 20px;
  }

  .container_1{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  


/* .card-stats{
  /* position:absolute;
  height: 168px;
  left: 190px;
  top: 100px;
  margin-top: 20px;
   */


.icon-image{
  margin-right: 5px;
}

.card-location{
  font-weight: 400 ;
  font-size: 10.24px;
  letter-spacing: 0.17em;
  margin-right: 10px;
  color: #2B283A;
  text-transform: uppercase;
}

.gray{
  text-decoration-line: underline;
  color: #918E9B;
  font-size: 10.24px;
}

.card-title{
  font-weight: 900;
  font-size: 25px;
  color: #2B283A;
  line-height: 30px;
  margin-top: 5px;
}

.card-date{
  font-weight: 700;
  font-size: 10.24px;
}

.card-desc{
  width: 320px;
  font-weight: 500;
  margin-top: -5px;
  font-size: 10.24px;
  color: #2B283A;

}



/* .card-stats{
    /* align-items: center;
    text-align: center;
    display: inline-block; */
    /* float: right ;
    margin-left: auto; */
    /* width: 100vw */


